# Node.js
node_modules/

# Build files
dist/
build/
*.log

# Editor files
.vscode/
.idea/

# macOS
.DS_Store

# Webpack development server files
webpack-*

# Dependency directories
.pnpm-store/
yarn-error.log
